.DS_Store
.vscode
**/.vscode
**/__pycache__
rl_controller/scripts/darknet/*
tensorboard_log/*
models_baseline/*
data_stategen/*
vrep_jaco_data/image/figure_rgb0.jpg
vrep_jaco_data/image/figure_rgb1.jpg
vrep_jaco_data/image/figure_rgb2.jpg
vrep_jaco_data/image/figure_rgb3.jpg