<?xml version="1.0"?>
<launch>
 <!-- Launch v-rep -->
  <param name="simulation" value="true"/>
  <include file="$(find vrep_jaco_bringup)/launch/vrep.launch">
    <arg name="vrep_path" value="/home/ljh/Downloads/coppelia"/>
    <!--<arg name="scene_file" value="$(find vrep_jaco_bringup)/scene/multi_cam2.ttt"/>-->
    <arg name="scene_file" value="$(find vrep_jaco_bringup)/scene/jaco_table_simple.ttt"/>
    <!--<arg name="scene_file" value="$(find vrep_jaco_bringup)/scene/new_scene_x5sensor.ttt"/>-->
    <arg name="gui" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="auto_quit" value="false"/>
  </include>

  <!-- Bring Jaco model -->
  <include file="$(find vrep_jaco_bringup)/launch/model.launch"/>

</launch>
