<?xml version="1.0"?>
<launch>
  <param name="use_sim_time" value="True"/>-
  <arg name="use_sim" default="True"/>
  <arg name="vrep_path" value="/opt/coppelia"/>
  <!--<arg name="scene_file" value="$(find vrep_jaco_bringup)/scene/multi_cam2.ttt"/>-->
  <arg name="scene_file" value="$(find vrep_jaco_bringup)/scene/jaco_table_simple.ttt"/>
  <!--<arg name="scene_file" value="$(find vrep_jaco_bringup)/scene/new_scene_x5sensor.ttt"/>-->
  <arg name="gui" value="true"/>
  <arg name="paused" value="false"/>
  <arg name="auto_quit" value="false"/>
  <node name="rl_controller" pkg="rl_controller" type="rl_controller_script_baseline.py" output="screen">
    <param name="use_sim" value="$(arg use_sim)"/>
    <param name="vrep_path" value="$(arg vrep_path)"/>
    <param name="scene_file" value="$(arg scene_file)"/>
    <param name="gui" value="$(arg gui)"/>
    <param name="paused" value="$(arg paused)"/>
    <param name="auto_quit" value="$(arg auto_quit)"/>
  </node>
</launch>
